
/* noto-sans-kr-100 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:100;
src:url('../fonts/noto-sans-kr-v12-latin_korean-100.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
        url('../fonts/noto-sans-kr-v12-latin_korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:300;
src:url('../fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Light'), local('NotoSansKR-Light'),
        url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:400;
src:url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:500;
src:url('../fonts/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
        url('../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:700;
src:url('../fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
font-family:'Noto Sans KR';
font-style:normal;
font-weight:900;
src:url('../fonts/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
src:local('Noto Sans KR Black'), local('NotoSansKR-Black'),
        url('../fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

html {font-size:15px;height:100%;}
html, body, h1, h2, h3, h4, h5, h6, p, div, img {margin:0;padding:0;border:0;font-family:'Noto Sans KR', sans-serif;letter-spacing:-1px;font-weight:400;color:#222;}
body {overflow:auto;height:100%;}
h1,h2{font-weight:bold;}
strong {font-weight:600;}
table,tr,td,thead,tbody,tfoot{border-spacing:0;border-collapse:collapse;}
ul, ol, li{list-style:none;padding:0;margin:0;}
a{text-decoration:none;color:#323232;}
a:hover{color:#c2c2c2;}
button:focus{outline:none;}
input,button,select,textarea {outline:none;font-family:'Noto Sans KR', sans-serif;font-weight:400;}

/* Header Area */
.header {position:fixed;top:0;left:0;right:0;bottom:0;height:60px;background-color:#FFF;z-index:90;box-shadow:inset 0 -2px 0 0 #eee;}
.header-wrap {position:relative;margin:0 auto;}
.header-wrap:after {content:"";display:block;clear:both;}
.header .nav-ctr {position:absolute;top:0;right:0;width:60px;height:60px;display:block;line-height:60px;text-align:center;font-size:0;background:url(../img/icon_header_nav.png) 50% 50% no-repeat;background-size:40%;z-index:10;}
.header .nav-ctr img {vertical-align:middle;height:22px;}
.header .logo {position:absolute;top:17px;left:15px;}
.header .logo a {display:block;}
.header .logo img {vertical-align:middle;height:25px;margin-top:3px;}

.header .nav {position:fixed;top:0;right:0;left:0;bottom:0;margin:0;background-color:rgba(0,0,0,0.2);display:none;z-index:10;}
.header .nav.on {display:block;}
.header .nav-wrap {position:absolute;top:0;right:0;bottom:0;background-color:#fff;width:80%;overflow:auto;padding-bottom:15px;}
.header .nav h2 > a {display:inline-block;width:50px;height:50px;line-height:50px;padding-left:20px;}
.header .nav h2 > a > img {height:22px;vertical-align:middle;margin-top:-3px;}
.header .nav h2 .close-nav {position:absolute;top:0;right:0;width:50px;height:50px;display:block;line-height:50px;text-align:center;font-size:0;}
.header .nav h2 .close-nav img {height:20px;vertical-align:middle;}
.header .nav h3 {height:36px;line-height:36px;font-size:16px;color:#fff;padding-left:15px;letter-spacing:1px;}
.header .nav h3.sale {background-color:#eb5c5e;}
.header .nav h3.menu {background-color:#fd9706;}
.header .nav ul:after {content:"";display:block;clear:both;}

.header .nav ul.nav-sale {display:flex;}
.header .nav ul.nav-sale li {flex:1;border-left:1px solid #e6e6e6;}
.header .nav ul.nav-sale li a {display:block;text-align:center;padding:15px 0;line-height:18px;font-size:15px;color:#222;}
.header .nav ul.nav-sale li:first-child {border-left:0 none;}
.header .nav ul.nav-sale li:first-child a {color:#eb5c5e;}

.header .nav ul.nav-menu li {border-bottom:1px solid #e6e6e6;}
.header .nav ul.nav-menu li a {display:block;text-align:left;padding:0 0 0 15px;line-height:40px;font-size:15px;box-sizing:border-box;background:url(../img/icon_nav_arrow.png) 100% 50% no-repeat;}
.header .nav ul.nav-menu li:first-child {border-left:0 none;}

.header .nav ul.nav-link {display:flex;}
.header .nav ul.nav-link li {flex:1;border-left:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.header .nav ul.nav-link li a {display:block;text-align:center;padding:10px 0 7px 0;line-height:16px;font-size:14px;color:#222;}
.header .nav ul.nav-link li a span {display:block;}
.header .nav ul.nav-link li a span img {height:25px;}
.header .nav ul.nav-link li:nth-child(1) a span,
.header .nav ul.nav-link li:nth-child(3) a span {line-height:24px;}
.header .nav ul.nav-link li:first-child {border-left:0 none;}

.header .nav .nav-tel a {display:block;margin:0 auto 10px auto;padding:15px 0;border-bottom:1px solid #e6e6e6;padding-left:75px;background:url(../img/icon_nav_tel.png) 15px 50% no-repeat;background-size:45px;box-sizing:border-box;}
.header .nav .nav-tel a span {display:block;font-size:14px;line-height:16px;color:#222;}
.header .nav .nav-tel a strong {color:#d70000;font-size:24px;line-height:30px;}

.header .nav .nav-tel > span {display:block;padding:0 15px;font-size:12px;color:#222;}


.header .nav .nav-info {padding:10px 0 15px 0;text-align:center;}
.header .nav .nav-info strong {font-size:20px;color:#1c35a8;font-weight:600;display:block;}
.header .nav .nav-info span {display:block;font-size:11px;}

/* Main Page - Style */
body#main {background:url(../img/main_bg.png) 0 0 no-repeat;background-size:100% 100%;}
body#main .header {background-color:transparent;box-shadow:none;}
body#main .header .logo {left:50%;margin-left:-67px;}
body#main .header .nav-ctr {background-image:url(../img/icon_header_nav_white.png)}

/* Content Area */
.content {padding-top:60px;}

.ctn-nav {display:flex;}
.ctn-nav .nav-item {display:block;flex:1;border-bottom:1px solid #bcbcbc;color:#222;padding:10px 0;text-align:center;}
.ctn-nav .nav-item.on {background-color:#777;color:#fff;}

.main-btns {padding-top:50px;font-size:0;}
.main-btns .main-btn {display:inline-block;width:45%;}
.main-btns .main-btn.left {margin-left:5%;}
.main-btns .main-btn.right {margin-right:5%;}
.main-btns .main-btn a {display:block;font-size:0;text-align:center;}
.main-btns .main-btn a img {width:95%;}

.main-notice {position:relative;width:88%;margin:20px 6% 0 6%;height:50px;background:url(../img/main_notice_bg.png) 0 0 no-repeat;background-size:100% 100%;}
.main-notice-btn {position:absolute;top:0;right:3px;display:inline-block;width:47px;height:47px;background:url(../img/main_notice_arrow.png) 50% 50% no-repeat;background-size:12px 26px;}
.main-notice {padding-right:50px;overflow:hidden;box-sizing:border-box;}
.main-notice ul {width:100%;}
.main-notice li a {display:block;line-height:47px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-left:15px;box-sizing:border-box;font-size:15px;}

/* Footer Nav */
.footer-menu {position:fixed;bottom:0;left:0;width:100%;display:flex;}
.footer-menu .footer-btn {flex:1;text-align:center;}
.footer-menu .footer-btn a {display:block;}
.footer-menu .footer-btn a span {position:relative;display:block;height:50px;background-position:50% 100%;background-size:40px 40px;background-repeat:no-repeat;margin-bottom:-15px;z-index:1;}
.footer-menu .footer-btn.quotation a span {background-image:url(../img/icon_footer_quotation.png);background-position:55% 100%;}
.footer-menu .footer-btn.secret a span {background-size:80px 40px;background-image:url(../img/icon_footer_company.png)}
.footer-menu .footer-btn.tel a span {background-image:url(../img/icon_footer_tel.png)}
.footer-menu .footer-btn a strong {display:block;background-color:rgba(255,92,92,0.8);color:#fff;padding:17px 0 13px 0;font-weight:400;}

/* Time Attack */
.car-list-header {width:100%;}
.car-list-wrap {position:relative;margin:0 auto;}
.car-sale-type {font-size:0;}
.car-sale-type span {display:inline-block;width:80px;text-align:center;height:20px;line-height:20px;color:#FFF;background-color:#232323;font-size:13px;letter-spacing:0;}
.car-sale-type span.type1 {background-color:#d70000;}
.car-sale-type span.type2 {background-color:#0020ab;}
.car-sale-type span.type3 {background-color:#00aa8c;}
.car-sale-type span.type4 {background-color:#cd027e;}
.car-sale-type span.type5 {background-color:#f37800;}
.car-ecocar-type {position:absolute;top:20px;right:20px;height:30px;background:url(../img/icon_ecocar.png) 0 0 no-repeat;background-size:61px 30px;}
.car-ecocar-type.hybrid {width:30px;}
.car-ecocar-type.plugin_hybrid {width:61px;}
.car-ecocar-type.electric_car {width:30px;background-position:100% 0;}

.car-list-item:first-child {margin-top:20px;}
.car-list-item {position:relative;padding:0 20px;}
.car-list-item .car-info .car-image {text-align:center;height:200px;line-height:200px;}
.car-list-item .car-info .car-image img {max-width:300px;max-height:200px;vertical-align:middle;}
.car-list-item .car-info .car-name {position:relative;padding:10px 0;border-top:2px solid #222;border-bottom:1px solid #bcbcbc;}
.car-list-item .car-info .car-name strong {display:block;font-size:18px;font-weight:600;line-height:24px;padding-right:100px;}
.car-list-item .car-info .car-price {position:absolute;top:50%;right:0;text-align:center;font-size:15px;font-weight:400;letter-spacing:0;line-height:24px;transform: translateY(-50%);}
.car-list-item .car-info .car-price:after {content:"원";}
.car-list-item .car-info .car-desc {text-align:center;padding:10px 0;font-weight:300;}
.car-list-item .conditions-info {text-align:center;margin:0 auto;box-sizing:border-box;}
.car-list-item .conditions-info > div:after {content:"";display:block;clear:both;}
.car-list-item .conditions-info > div {padding:7px 0;border-bottom:1px solid #bcbcbc;}
.car-list-item .conditions-info > div:last-child {border-bottom:2px solid #222;}
.car-list-item .conditions-info > div > span {float:left;display:block;font-size:14px;color:#333;line-height:25px;font-weight:400;}
.car-list-item .conditions-info > div > strong {float:right;display:block;font-size:15px;color:#d70000;line-height:25px;font-weight:500;}
.car-list-item .price-info {padding-top:15px;text-align:center;margin:0 auto;padding:0;box-sizing:border-box;}
.car-list-item .price-info .real-price {text-align:right;padding:7px 0 0 0;font-size:15px;text-decoration:line-through;color:#222;letter-spacing:0;font-weight:300;}
.car-list-item .price-info .real-price:after {content:"원";}
.car-list-item .price-info .discount-price {padding:0 0 5px 0;}
.car-list-item .price-info .discount-price:after {content:"";display:block;clear:both;}
.car-list-item .price-info .discount-price > span {float:left;display:block;font-size:14px;color:#333;line-height:25px;font-weight:500;}
.car-list-item .price-info .discount-price > strong {float:right;display:block;font-size:22px;color:#d70000;line-height:25px;font-weight:600;letter-spacing:0;}
.car-list-item .price-info .discount-price > strong:after {content:"원";font-size:18px;font-weight:500;}
.car-list-item .btn-area {padding:20px 0 30px 0;text-align:center;}
.car-list-item .btn-area button {width:100%;padding:7px 0;font-size:20px;font-weight:600;background-color:#fff;border:1px solid #d70000;color:#d70000;box-sizing:border-box;}
.car-list-item .btn-area button span {display:inline-block;}
.car-list-item .btn-area button:hover {background-color:#d70000;color:#fff;}
.car-list > .btn-area {padding:20px 0 30px 0;text-align:center;}
.car-list > .btn-area button {width:100%;padding:7px 0;font-size:17px;font-weight:400;background-color:#777777;border:1px solid #777777;color:#fff;box-sizing:border-box;}
.car-list > .btn-area button span {display:inline-block;}

/* Time Attack Header */
.timeattack-header {position:relative;font-size:0;}
.timeattack-header .timeattack-img {position:relative;width:100%;z-index:2;}
.timeattack-header .timeattack-img img {width:100%;}
.timeattack-header .timeattack-counter {position:absolute;bottom:24%;width:310px;left:0;right:0;margin:0 auto;height:50px;line-height:48px;font-size:42px;letter-spacing:15px;box-sizing:border-box;padding-left:5px;font-weight:600;color:#121212;z-index:3;background:url(../img/bg_counter.png) 50% 50% no-repeat;background-size:100% 50px;}

/* ECO Header */
.eco-header {position:relative;font-size:0;} 
.eco-header img {width:100%;}
.car-list.ecocar .car-list-item .conditions-info > div > strong,
.car-list.ecocar .car-list-item .price-info .discount-price > strong {color:#0054cb}
.car-list.ecocar .car-list-item .btn-area button {border-color:#0054cb;color:#0054cb;}
.car-list.ecocar .car-list-item .btn-area button:hover {background-color:#0054cb;color:#fff;}

/* HOT Deal */
.hotdeal-tab {display:flex;}
.hotdeal-tab a {display:block;flex:1;padding:10px 0;font-size:12px;font-weight:600;letter-spacing:0;text-align:center;position:relative;border-bottom:1px solid #bcbcbc;}
.hotdeal-tab a.on {color:#d70000;border-bottom:2px solid #d70000;}

.deal-type {height:25px;line-height:25px;font-size:12px;font-weight:500;color:#FFF;background-color:#232323;padding:0 10px;letter-spacing:0;}
.deal-type.type1 {background-color:#d70000;}
.deal-type.type2 {background-color:#0020ab;}
.deal-type.type3 {background-color:#00aa8c;}
.deal-type.type4 {background-color:#cd027e;}

.hotdeal-list li {box-sizing:border-box;padding-bottom:20px;}
.hotdeal-list .deal-box {position:relative;cursor:pointer;}
.hotdeal-list .deal-box .d-day {position:absolute;top:10px;right:20px;width:60px;height:60px;text-align:center;color:#fff;background-color:#fa3543;z-index:2;}
.hotdeal-list .deal-box .d-day span {display:block;line-height:20px;padding-top:5px;font-size:11px;letter-spacing:0;font-weight:500;}
.hotdeal-list .deal-box .d-day strong {font-size:28px;line-height:25px;font-weight:800;letter-spacing:0;}
.hotdeal-list .deal-box .deal-info {position:relative;padding:15px 15px 10px 15px;}
.hotdeal-list .deal-box .deal-type {display:inline-block;}
.hotdeal-list .deal-box .deal-img {position:relative;width:100%;font-size:0;overflow:hidden;}
.hotdeal-list .deal-box .deal-img img {width:100%;}
.hotdeal-list .deal-box .deal-info h2 {font-size:18px;font-weight:600;line-height:35px;color:#222;}
.hotdeal-list .deal-box .deal-info .deal-date {font-size:13px;font-weight:300;letter-spacing:0;position:absolute;bottom:48px;right:15px;}
.hotdeal-list .deal-box.off:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:190px;background:url(../img/hotdeal_off.png) 50% 50% no-repeat;background-size:30%;}
.hotdeal-list .deal-box.off .deal-img:after {content:"";display:block;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5)}

.hotdeal-detail {margin:0 auto;padding:15px 0;}
.hotdeal-detail-top {position:relative;padding:0 15px;}
.hotdeal-detail-top h2 {display:block;font-size:18px;padding:5px 0 0 0;font-weight:600;color:#222;}
.hotdeal-detail-top .deal-type {display:inline-block;vertical-align:middle;}
.hotdeal-detail-top .deal-date {position:absolute;right:15px;top:3px;font-size:13px;font-weight:400;letter-spacing:0;}
.hotdeal-detail-top .deal-condition {margin-top:10px;padding:10px 0;border-top:1px solid #bcbcbc;}
.hotdeal-detail-top .deal-condition strong {display:inline-block;color:#d70000;font-size:15px;font-weight:500;padding-right:30px;}
.hotdeal-detail-top .deal-condition span {display:inline-block;color:#222;font-weight:300;font-size:13px;}

.hotdeal-detail-ctn {padding:15px;font-size:0;text-align:center;}
.hotdeal-detail-ctn img {max-width:100%;max-height:100%;}

.hotdeal-detail-bottom {border-top:1px solid #bcbcbc;padding:20px 15px;text-align:right;}
.hotdeal-detail-bottom a {display:inline-block;width:120px;height:40px;line-height:38px;border:1px solid #bcbcbc;color:#222;font-weight:500;text-align:center;letter-spacing:1px;}
.hotdeal-detail-bottom a:hover {border-color:#222;}

.ctn-img {font-size:0;}
.ctn-img img {width:100%;}

.awards-wrap {padding:10px;font-size:0;}
.awards-wrap:after {content:"";display:block;clear:both;}
.awards-box {float:left;width:50%;padding:10px;box-sizing:border-box;}
.awards-box .awards-img {width:100%;box-shadow:3px 3px 10px 0 rgba(0,0,0,0.2);box-sizing:border-box;border:1px solid #bcbcbc;}
.awards-box .awards-img img {width:100%;vertical-align:middle;}
.awards-box .awards-tt {color:#222;font-size:14px;text-align:center;padding:10px 15px 1px 15px;line-height:17px;font-weight:600;}
.awards-box .awards-text {font-size:13px;color:#888;text-align:center;padding:0 15px;}

.review-tt {font-size:22px;font-weight:600;color:#222;padding:40px 0 0 0;line-height:25px;}
.review-list:after {content:"";display:block;clear:both;}
.review-list .review-item {padding:15px 0;}

.review-item:after {content:"";display:block;clear:both;}
.review-item .item-img {float:left;font-size:0;width:50%;}
.review-item .item-img img {width:100%;height:auto;}
.review-item .item-info {float:left;width:50%;}
.review-item h4 {box-sizing:border-box;color:#222;margin:0 20px;border-bottom:2px solid #222;padding-bottom:5px;font-size:15px;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.review-item .item-tt {font-size:16px;color:#333;font-weight:500;padding:10px 20px 5px 20px;background-color:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.review-item .item-text {font-size:12px;height:65px;line-height:16px;color:#666;padding:0 20px 0 20px;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;}

.board-list {padding:0 15px;}
.board-list li {border-bottom:1px solid #bcbcbc;padding:15px 0;}
.board-list li a strong {display:block;font-size:16px;font-weight:500;line-height:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.board-list li a span {display:inline-block;font-size:13px;line-height:18px;}
.board-list li a span:after {content:"";display:inline-block;height:10px;width:1px;background-color:#222;margin:0 10px;margin-top:3px;}
.board-list li a span:last-child:after {display:none;}

.board-detail {margin:0 auto;padding:10px 0;}
.board-detail-top {position:relative;padding:0 15px 15px 15px;border-bottom:1px solid #bcbcbc;}
.board-detail-top h2 {display:block;font-size:18px;padding:5px 0;font-weight:600;color:#222;line-height:22px;}
.board-detail-top .date {font-size:13px;font-weight:400;letter-spacing:0;line-height:20px;}
.board-detail-top .view {position:absolute;right:15px;bottom:15px;font-size:13px;font-weight:400;letter-spacing:0;line-height:20px;}
.board-detail-top .deal-condition {margin-top:10px;padding:10px 0;border-top:1px solid #bcbcbc;}
.board-detail-top .deal-condition strong {display:inline-block;color:#d70000;font-size:15px;font-weight:500;padding-right:30px;}
.board-detail-top .deal-condition span {display:inline-block;color:#222;font-weight:300;font-size:13px;}

.board-detail-ctn {padding:15px;font-size:0;text-align:center;}
.board-detail-ctn img {max-width:100%;max-height:100%;}

.board-detail-bottom {border-top:1px solid #bcbcbc;padding:20px 15px;text-align:right;}
.board-detail-bottom a {display:inline-block;width:120px;height:40px;line-height:38px;border:1px solid #bcbcbc;color:#222;font-weight:500;text-align:center;letter-spacing:1px;}
.board-detail-bottom a:hover {border-color:#222;}


.list-paging {text-align:center;padding:10px 0 30px 0;}
.list-paging a {display:inline-block;width:30px;height:30px;text-align:center;line-height:30px;color:#666;font-size:13px;margin:0 4px;vertical-align:middle;border-radius:50%;box-sizing:border-box;}
.list-paging a:hover,
.list-paging a.active {color:#fa3543;font-weight:600;}
.list-paging a.btn-paging {width:30px;height:30px;background:url(../img/btn_paging.png) 0 0 no-repeat;border:0 none;}
.list-paging a.btn-paging.prev {background-position:0 0;}
.list-paging a.btn-paging.prev:hover {background-position:0 -30px;}
.list-paging a.btn-paging.next {background-position:100% 0;}
.list-paging a.btn-paging.next:hover {background-position:100% -30px;}

.footer {padding:30px 0 110px 0;background-color:#e0e0e0;color:#777;font-size:14px;line-height:18px;z-index:10;}
.footer .company-tt {padding-bottom:5px;font-size:16px;font-weight:500;color:#777;}
.footer p {font-size:11px;font-weight:400;padding:0 20px;color:#777;}

.popup-quick-quo {position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;display:none;background-color:rgba(0,0,0,0.6);z-index:91;}
.popup-quick-quo.on {display:block;}
.quick-quo-close {position:absolute;top:-41px;right:0;background:transparent url(../img/quick_quo_close.png) 0 0 no-repeat;width:100px;height:41px;background-size:100%;border:0 none;}
.popup-quick-quo .quick-quo-box {position:absolute;bottom:0;left:0;right:0;padding:20px;background-color:#fff;box-shadow:0 0 20px rgba(0,0,0,0.3)}
.quick-quo-box .quick-quo-header {padding:0 0 10px 0;}
.quick-quo-box .quick-quo-header h2 {position:relative;padding-bottom:5px;}
.quick-quo-box .quick-quo-header h2:after {content:"";display:block;position:absolute;bottom:10px;left:0;right:0;width:100%;height:1px;background-color:#004891;}
.quick-quo-box .quick-quo-header h2 strong {position:relative;display:inline-block;font-size:30px;font-weight:600;color:#004891;padding-right:5px;}
.quick-quo-box .quick-quo-header h2 strong:before {content:"";display:block;position:absolute;bottom:5px;left:0;right:0;width:100%;height:1px;background-color:#fff;z-index:2;}
.quick-quo-box .quick-quo-header p {font-size:15px;line-height:20px;font-weight:400;}
.quick-quo-form:after {content:"";display:block;clear:both;}
.quick-quo-form .quick-quo-input {float:left;width:100%;padding:5px 0;box-sizing:border-box;}
.quick-quo-form .quick-quo-input.name {width:40%;padding-right:5px;}
.quick-quo-form .quick-quo-input.tel {width:60%;padding-left:5px;}
.quick-quo-form .quick-quo-input.message {padding-bottom:0;}
.quick-quo-form .quick-quo-input.policy {padding:0;}
.quick-quo-form .quick-quo-input input[type="text"] {border:1px solid #d0d0d0;height:35px;line-height:33px;padding:0 10px;box-sizing:border-box;width:100%;font-size:14px;}
.quick-quo-form .quick-quo-input textarea {border:1px solid #d0d0d0;height:72px;line-height:20px;padding:5px 10px;box-sizing:border-box;width:100%;font-size:14px;resize:none;}
.quick-quo-form .quick-quo-input input[type="checkbox"] {display:none;}
.quick-quo-form .quick-quo-input input[type="checkbox"] + label {display:inline-block;font-size:14px;color:#666;vertical-align:middle;}
.quick-quo-form .quick-quo-input input[type="checkbox"] + label:before {content:"";display:inline-block;width:12px;height:12px;border:1px solid #d0d0d0;margin-right:5px;vertical-align:middle;}
.quick-quo-form .quick-quo-input input[type="checkbox"]:checked + label {color:#ff5c5c;}
.quick-quo-form .quick-quo-input input[type="checkbox"]:checked + label:before {background-color:#ff5c5c;border-color:#ff5c5c;}
.quick-quo-form .quick-quo-btn {clear:both;padding-top:10px;}
.quick-quo-form .quick-quo-btn a {display:block;background-color:#ff5c5c;text-align:center;height:40px;line-height:40px;color:#fff;font-size:16px;font-weight:500;}




.popup-quotation {position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;display:none;}
.popup-quotation.on {display:block;}
.popup-quotation .popup-box {background-color:#fff;position:absolute;top:0px;left:0;right:0;bottom:0px;overflow:auto;}
.popup-quotation .popup-box .popup-tt {position:absolute;top:0;left:0;right:0;border-radius:20px 20px 0 0;height:49px;border-bottom:1px solid #222;}
.popup-quotation .popup-box .popup-tt h2 {padding:11px 20px;font-size:18px;}
.popup-quotation .popup-box .popup-tt .popup-close {position:absolute;right:0;top:0;width:49px;height:49px;padding:0;background-color:transparent;border:0 none;cursor:pointer;}
.popup-quotation .popup-box .popup-tt .popup-close img {height:16px;}
.popup-quotation .popup-box .popup-ctn {position:absolute;top:50px;left:0;bottom:20px;right:0;overflow:auto;}

.popup-quotation .quotation-step {position:relative;background-color:#e0e0e0;height:90px;border-bottom:1px solid #222222;box-sizing:border-box;}
.popup-quotation .quotation-step .step-item {display:none;}
.popup-quotation .quotation-step .step-item.active {display:block;}
.popup-quotation .quotation-step .step-item h3 {text-align:center;font-size:24px;font-weight:600;line-height:89px;}
.popup-quotation .quotation-step .step-nav {position:absolute;top:0;width:40px;height:90px;border:0 none;background-color:transparent;text-align:center;font-size:16px;}
.popup-quotation .quotation-step .step-nav.left {left:0;}
.popup-quotation .quotation-step .step-nav.right {right:0;}
.popup-quotation .quotation-step .step-nav img {vertical-align:middle;}

.popup-quotation .step-ctn {display:none;}
.popup-quotation .step-ctn.active {display:block;}

.popup-quotation .select-item {box-sizing:border-box;border-left:1px solid #eee;box-sizing:border-box;}
.popup-quotation .step-ctn .select-item h3 {position:relative;height:45px;line-height:45px;background-color:#f3f3f3;border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;padding:0 25px;color:#fff;color:#222;font-weight:300;}
.popup-quotation .step-ctn .select-item h3 .btn-folder {position:absolute;top:0;right:0;height:45px;width:45px;text-align:center;border:0 none;background:transparent url("../img/icon_up.png") 50% 50% no-repeat;}
.popup-quotation .step-ctn .select-item h3.close .btn-folder {background-image:url("../img/icon_down.png");}
.popup-quotation .step-ctn .select-item h3.close + ul {display:none;}
.popup-quotation .select-item:first-child h3 {border-top:0 none;}
.popup-quotation .select-item ul {list-style:none;margin:0;padding:10px 0;box-sizing:border-box;}
.popup-quotation .mCSB_inside > .mCSB_container {margin-right:5px;padding:0;}
.popup-quotation .mCSB_scrollTools {width:4px;}
.popup-quotation .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:#bdbdbd;}
.popup-quotation .select-item ul li {height:36px;line-height:36px;font-size:14px;}
.popup-quotation .select-item.with_price ul li input[type="radio"] + label,
.popup-quotation .select-item.with_price ul li input[type="checkbox"] + label {padding-right:100px;}
.popup-quotation .select-item ul li input[type="radio"],
.popup-quotation .select-item ul li input[type="checkbox"] {display:none;}
.popup-quotation .select-item ul li input[type="radio"] + label,
.popup-quotation .select-item ul li input[type="checkbox"] + label {position:relative;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;padding:0 20px;line-height:26px;}
.popup-quotation .select-item ul li input[type="radio"] + label:hover,
.popup-quotation .select-item ul li input[type="checkbox"] + label:hover {background-color:#eee;}
.popup-quotation .select-item ul li input[type="radio"] + label:before,
.popup-quotation .select-item ul li input[type="checkbox"] + label:before {content:"";display:inline-block;width:16px;height:16px;background:#fff;border:1px solid #bdbdbd;margin-right:6px;vertical-align:middle;box-sizing:border-box;}
.popup-quotation .select-item ul li input[type="radio"] + label:before {border-radius:50%;}
.popup-quotation .select-item ul li input[type="radio"] + label > span,
.popup-quotation .select-item ul li input[type="checkbox"] + label > span {display:inline-block;line-height:26px;vertical-align:middle;}
.popup-quotation .select-item ul li input[type="radio"] + label > strong,
.popup-quotation .select-item ul li input[type="checkbox"] + label > strong {position:absolute;top:0;right:20px;line-height:26px;font-weight:400;font-size:14px;text-align:right;}
.popup-quotation .select-item ul li input[type="radio"]:checked + label:before,
.popup-quotation .select-item ul li input[type="checkbox"]:checked + label:before {border:2px solid #d70000;background:#fff url(../img/pop_select_check.png) 50% 50% no-repeat;}
.popup-quotation .select-item ul li input[type="radio"]:checked + label:before {background:#d70000;}
.popup-quotation .select-item .more-btn {padding:20px 0;text-align:center;clear:both;}
.popup-quotation .select-item .more-btn button {padding:6px 60px;font-size:16px;font-weight:600;color:#777;border:1px solid #777;background-color:#fff;cursor:pointer;}
.popup-quotation .select-item .more-btn button:hover {background-color:#f2f2f2;}

.popup-quotation .select-item.car-brand ul {padding:20px 10px 5px 10px;}
.popup-quotation .select-item.car-brand ul:after {content:"";display:block;clear:both;}
.popup-quotation .select-item.car-brand ul li {width:25%;float:left;text-align:center;height:auto;}
.popup-quotation .select-item.car-brand input[type="radio"] + label:before {display:none;}
.popup-quotation .select-item.car-brand ul li input[type="radio"] + label {display:inline-block;padding:0;width:100%;}
.popup-quotation .select-item.car-brand ul li label .brand-img {width:70px;height:70px;line-height:68px;text-align:center;border:1px solid #ddd;border-radius:50%;box-sizing:border-box;margin:0 auto;}
.popup-quotation .select-item.car-brand ul li label .brand-img img {max-width:45px;max-height:45px;vertical-align:middle;}
.popup-quotation .select-item.car-brand ul li input[type="radio"] + label > span {display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:0 5px 10px 5px;}
.popup-quotation .select-item.car-brand ul li input[type="radio"]:checked + label {background-color:transparent;}
.popup-quotation .select-item.car-brand ul li input[type="radio"]:checked + label .brand-img {border:3px solid #d70000;line-height:65px;}


.popup-quotation .select-item.car-lists ul {padding:0;}
.popup-quotation .select-item.car-lists ul li {height:auto;border-bottom:1px solid #bcbcbc;}
.popup-quotation .select-item.car-lists input[type="radio"] + label {position:relative;height:100px;padding-left:135px;border:3px solid transparent;}
.popup-quotation .select-item.car-lists input[type="radio"] + label:before {display:none;}
.popup-quotation .select-item.car-lists ul li input[type="radio"] + label > span {display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:0 5px 10px 5px;}
.popup-quotation .select-item.car-lists ul li input[type="radio"]:checked + label {background-color:transparent;border:3px solid #d70000;}
.popup-quotation .select-item.car-lists ul li label .car-image {position:absolute;top:0;left:0;width:120px;height:100px;line-height:100px;}
.popup-quotation .select-item.car-lists ul li label .car-image img {max-width:120px;max-height:100px;vertical-align:middle;}
.popup-quotation .select-item.car-lists ul li label .car-name {padding-top:14px;font-size:16px;font-weight:600;line-height:30px;}
.popup-quotation .select-item.car-lists ul li label .car-price {font-size:14px;color:#d70000;letter-spacing:0;line-height:25px;}
.popup-quotation .select-item.car-lists ul li label .car-desc {font-size:12px;color:#555;line-height:16px;}

.popup-quotation .select-item.car-color ul {padding:10px 10px 20px 10px;box-sizing:border-box;}
.popup-quotation .select-item.car-color ul:after {content:"";display:block;clear:both;}
.popup-quotation .select-item.car-color ul li {width:25%;float:left;text-align:center;padding-top:7px;height:90px;}
.popup-quotation .select-item.car-color ul li input[type="radio"] {display:none;}
.popup-quotation .select-item.car-color ul li input[type="radio"] + label {display:inline-block;padding:8px 8px 0 8px;margin:0 auto;height:90px;overflow:hidden;border:2px solid transparent;box-sizing:border-box;cursor:pointer;white-space:inherit;background-color:#fff;}
.popup-quotation .select-item.car-color ul li input[type="radio"] + label:before {display:none;}
.popup-quotation .select-item.car-color ul li input[type="radio"]:checked + label {border:2px solid #d70000;}
.popup-quotation .select-item.car-color ul li .color-box {display:inline-block;width:60px;height:20px;border:1px solid #bdbdbd;box-sizing:border-box;}
.popup-quotation .select-item.car-color ul li input[type="radio"] + label > span {display:block;font-size:13px;line-height:15px;color:#555;}

.popup-quotation .select-item.car-price .car-price {box-sizing:border-box;padding:20px 0;}
.popup-quotation .select-item.car-price .car-price .car-image {height:120px;line-height:120px;text-align:center;}
.popup-quotation .select-item.car-price .car-price .car-image img {max-height:100px;vertical-align:middle;}
.popup-quotation .select-item.car-price .car-price .car-info strong {display:block;text-align:center;font-size:20px;}
.popup-quotation .select-item.car-price .car-price .car-info span {display:block;text-align:center;}
.popup-quotation .select-item.car-price .car-price .price-info {text-align:center;color:#d70000;}
.popup-quotation .select-item.car-price .car-price .price-info strong {font-size:40px;font-weight:600;}
.popup-quotation .select-item.car-price .car-price .price-info span {font-size:24px;}

.popup-quotation .select-item.car-price .car-price .select-info {border-top:1px solid #222;border-bottom:1px solid #222;margin:10px 20px;}
.popup-quotation .select-item.car-price .car-price .select-info ul {padding:0;}
.popup-quotation .select-item.car-price .car-price .select-info li {position:relative;padding:10px 0;border-top:1px solid #bcbcbc;height:auto;}
.popup-quotation .select-item.car-price .car-price .select-info li:first-child {border-top:0 none;}
.popup-quotation .select-item.car-price .car-price .select-info li > span {position:absolute;top:10px;left:10px;line-height:18px;font-weight:500;font-size:14px;}
.popup-quotation .select-item.car-price .car-price .select-info li:last-child > span {top:12px;}
.popup-quotation .select-item.car-price .car-price .select-info li > strong {display:block;padding-left:80px;padding-bottom:5px;font-size:14px;line-height:18px;font-weight:400;}
.popup-quotation .select-item.car-price .car-price .select-info li > strong:only-of-type {padding-left:80px;padding-bottom:0;}
.popup-quotation .select-item.car-price .car-price .select-info li .color-box {display:inline-block;width:40px;height:20px;vertical-align:middle;border:1px solid #bcbcbc;box-sizing:border-box;}
.popup-quotation .select-item.car-price .car-price .select-info li .color-box + span {vertical-align:middle;padding-left:10px;}

.popup-quotation .select-item.form-area .car-form {padding:20px 10px 10px 20px;}
.popup-quotation .select-item.form-area .car-form:after {content:"";display:block;clear:both;}
.popup-quotation .select-item.form-area .form-item {position:relative;float:left;width:100%;padding:0 10px 10px 0;box-sizing:border-box;}
.popup-quotation .select-item.form-area .form-item.w50 {width:50%;}
.popup-quotation .select-item.form-area .form-item select,
.popup-quotation .select-item.form-area .form-item input {height:40px;border:1px solid #ccc;width:100%;margin:0;padding:0 0 0 10px;box-sizing:border-box;font-size:14px;background-color:#fff;}
.popup-quotation .select-item.form-area .form-item select {cursor:pointer;}
.popup-quotation .select-item.form-area .form-item label {position:absolute;display:block;top:0;left:0;height:40px;line-height:40px;font-size:14px;}
.popup-quotation .select-item.form-area .form-item.req label:after {content:"*";display:inline-block;color:#d70000;font-size:16px;padding-left:3px;}
.popup-quotation .select-item.form-area .car-form.input-list .form-item {padding-left:110px;}
.popup-quotation .select-item.form-area .radio-item {display:inline-block;}
.popup-quotation .select-item.form-area .radio-item input[type="radio"] {display:none;}
.popup-quotation .select-item.form-area .radio-item input[type="radio"] + label {position:relative;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;padding:0 15px 0 0;height:35px;line-height:35px;}
.popup-quotation .select-item.form-area .radio-item input[type="radio"] + label:before {content:"";display:inline-block;width:16px;height:16px;background:#fff;border:1px solid #bdbdbd;margin-right:6px;vertical-align:middle;box-sizing:border-box;border-radius:50%;}
.popup-quotation .select-item.form-area .radio-item input[type="radio"] + label > span {display:inline-block;line-height:26px;vertical-align:middle;}
.popup-quotation .select-item.form-area .radio-item input[type="radio"]:checked + label:before {background:#d70000;border-color:#d70000;}

.popup-quotation .popup-footer {clear:both;padding:10px 0;text-align:center;border-top:1px solid #222;}
.popup-quotation .popup-footer .user-agree {font-size:14px;}
.popup-quotation .popup-footer .footer-btnarea {padding-top:15px;}
.popup-quotation .popup-footer .quotation-btn {display:inline-block;padding:7px 80px;background-color:#d70000;color:#fff;border:0 none;border-bottom:4px solid #af0000;font-size:20px;cursor:pointer;}
.popup-quotation .popup-footer .quotation-btn:hover {border-bottom-color:#d70000;}
.popup-quotation .popup-footer .quotation-submit {display:inline-block;padding:10px 100px;background-color:#d70000;color:#fff;border:0 none;border-bottom:4px solid #af0000;font-size:20px;cursor:pointer;}
.popup-quotation .popup-footer .quotation-submit:hover {border-bottom-color:#d70000;}

.popup-policy {position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;display:none;}
.popup-policy.on {display:block;}
.popup-policy .popup-box {background-color:#fff;position:absolute;top:0px;left:0;right:0;bottom:0px;overflow:auto;}
.popup-policy .popup-box .popup-tt {position:absolute;top:0;left:0;right:0;border-radius:20px 20px 0 0;height:49px;border-bottom:1px solid #222;}
.popup-policy .popup-box .popup-tt h2 {padding:11px 20px;font-size:18px;}
.popup-policy .popup-box .popup-tt .popup-close {position:absolute;right:0;top:0;width:49px;height:49px;padding:0;background-color:transparent;border:0 none;cursor:pointer;}
.popup-policy .popup-box .popup-tt .popup-close img {height:16px;}
.popup-policy .popup-box .popup-ctn {position:absolute;top:50px;left:0;bottom:20px;right:0;overflow:auto;padding:0 20px;}

.policy-box h3 {font-size:18px;padding:5px 0;}
.policy-check {padding:10px 0;}
.policy-check input[type="checkbox"] {width:20px;height:20px;vertical-align:middle;}
.policy-check label {display:inline-block;vertical-align:middle;font-size:18px;padding-left:5px;cursor:pointer;}
.policy-check.check-all {padding:10px 0;border-bottom:1px solid #bcbcbc;margin-bottom:15px;}
.policy-check.check-all label {font-size:18px;}
.policy-ctn {padding:10px;border:1px solid #bcbcbc;}
.policy-ctn table {width:100%;border-collapse:collapse;}
.policy-ctn th,
.policy-ctn td {border:1px solid #bcbcbc;font-size:13px;padding:8px 10px;color:#555;}
.policy-ctn th {background-color:#f2f2f2;font-weight:400;}
.policy-ctn p {color:#d70000;padding-top:5px;font-size:13px;font-weight:300;}

.popup-policy .popup-footer {clear:both;padding:20px 0;text-align:center;}
.popup-policy .popup-footer .user-agree {font-size:14px;}
.popup-policy .popup-footer .footer-btnarea {padding-top:15px;}
.popup-policy .popup-footer .policy-submit {display:inline-block;padding:10px 100px;background-color:#d70000;color:#fff;border:0 none;border-bottom:4px solid #af0000;font-size:20px;cursor:pointer;}
.popup-policy .popup-footer .policy-submit:hover {border-bottom-color:#d70000;}
